@import url('https://fonts.font.im/css2?family=Saira:wght@500&display=swap');
#sitename
  font-family Saira, sans-serif
  font-size 18px
#main_container
  margin-top 60px

.ui.dimmer.modals
  backdrop-filter blur(5px) !important
  -webkit-backdrop-filter blur(5px) !important

.home_card_header
  display flex
  align-items center
  .icon
    font-size 1em !important
.ui.button
  margin-top .25em !important
  margin-bottom .25em !important

#hitokoto_container
  text-align center
#hitokoto_from
  text-align right

#footer_container
  margin 40px 0 20px 0 !important
  padding 0
  width 100%
  color #aeaeae !important
  a
    color #717171 !important
    &:hover
      color #1e70bf !important
  #footer_version
    margin 2px 0
    color #717171 !important
    font-size 12px
    display inline !important
    line-height .8

#tasks_grid
  margin-left -1rem !important
  margin-right -1rem !important

.ui.label.attention
  background rgba(255, 225, 225, .45)
  color #a53d3b