#app
  &[data-theme="light"]
    $background = #ffffff
    $background-selected = #cce2ff
    $background-transparent = #fafafaaa
    $foreground = #000000ee
    $foreground-disabled = #26262650
    $foreground-transparent = #e8e8e870
    $link = #4183c4
    $link-hover = #1e70bf
    $border = #22242620
    $border-light = #fafafa
    $border-hover = #22242640
    $border-active = #96c8da
    $box-shadow = #22242640
    $button-background = #e0e1e2
    $button-background-hover = #cacbcd
    $button-background-active = #babbbc
    $input-placeholder = #bfbfbfa0
    $input-placeholder-focus = #737373d0
    $input-border-focus = #85b7d9
    $block-header-background = #f3f4f5
  &[data-theme="dark"]
    $background = #222222
    $background-selected = #9c9c8d
    $background-transparent = #111111bb
    $foreground = #ffffffee
    $foreground-disabled = #e6e6e650
    $foreground-transparent = #fafafa70
    $link = #3b88d4
    $link-hover = #2174c4
    $border = #4f4f4f60
    $border-light = #212121
    $border-hover = #696979dd
    $border-active = #181919
    $box-shadow = #21212160
    $button-background = #727273
    $button-background-hover = #a8a9a9
    $button-background-active = #929394
    $input-placeholder = #bfbfbfa0
    $input-placeholder-focus = #e7e7e7d0
    $input-border-focus = #6797b5
    $block-header-background = #464747

// #app
